
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <form action="/Home/Contact" method="post">
        <div>
            <label>Email:</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="title" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="message" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</body>
</html>
